<svg id="menu" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 30 22.5" style="enable-background:new 0 0 30 22.5;" xml:space="preserve">

  <g id="Container_Zones" class="st0">
</g>
  <g id="Padding_Zones" class="st0">
</g>
  <g id="Page_Margins" class="st0">
</g>
  <g id="Containers_Grid" class="st0">
</g>
  <g id="Padding_Grid" class="st0">
</g>
  <g id="bg">
</g>
  <g id="diseño">
	<g>
		<rect x="1" y="0.8" class="st1" width="28" height="4"/>
    <rect x="1" y="9.2" class="st1" width="28" height="4"/>
    <rect x="1" y="17.8" class="st1" width="28" height="4"/>
	</g>
</g>
</svg>
