<link rel="stylesheet" href="app.component.scss">
<script src="../../../../../Downloads/carousel-designicode/src/app/modules/user/user-list/user-list.component.ts"></script>
<app-header></app-header>
<main id="content" role="main">
  <section class="top-content">
    <app-home-banner></app-home-banner>
    <div class="uvp">
      <div class="container">
        <p class="uvp--text js-parallax-element" data-parallax="-20,20">Contacto</p>
      </div>
    </div>
  </section>
  <section id="intro" class="intro-content">
    <div class="container">
      <div class="row">
        <div class="flex-box">
          <aside class="text">
            <h1 class="title">EMPECEMOS A HACERLO SENCILLO</h1>
          </aside>
          <article class="content">
            <h2 class="subtitle">Nos emociona impulsar tu transformación digital</h2>
          </article>
        </div>
      </div>
    </div>
  </section>
  <app-form></app-form>
</main>
<app-footer></app-footer>
